* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
}
div.message {
  font-family: "Courier New", Courier, monospace;
  color: white;
  display: flex;
  height: 100vh;
}

div.message h1 {
  margin: auto;
}
